<!DOCTYPE html>
<html lang="en" ng-app="invoice">

<head>
    <meta charset="UTF-8">
    <title>exe02</title>
</head>

<body>
    <div ng-controller="InvoiceController as invoice">
        <b>订单:</b>
        <div>
            数量:
            <input type="number" ng-model="invoice.qty" required min="0">
        </div>
        <div>
            单价:
            <input type="number" ng-model="invoice.cost" required min="0">
            <select ng-model="invoice.inCurr">
                <option ng-repeat="c in invoice.currencies">{{c}}</option>
            </select>
        </div>
        <div>
            <b>总价:</b>
            <span ng-repeat="c in invoice.currencies">
                 {{invoice.total(c) | currency:c}}
        </span>
            <button class="btn" ng-click="invoice.pay()">支付</button>
        </div>
    </div>
    <script src="js/angular.min.js"></script>
    <script type="text/javascript">
    angular.module('finance', [])
        .factory('currencyConverter', function() {
            var currencies = ['USD', 'EUR', 'CNY'],
                usdToForeignRates = {
                    USD: 1,
                    EUR: 0.74,
                    CNY: 6.09
                };

            function convert(amount, inCurr, outCurr) {
                return amount * usdToForeignRates[outCurr] * 1 / usdToForeignRates[inCurr];
            }
            return {
                currencies: currencies,
                convert: convert
            };
        });



    angular.module('invoice', ['finance']).controller('InvoiceController', ['currencyConverter', function(currencyConverter) {
        this.qty = 1;
        this.cost = 2;
        this.inCurr = 'EUR';
        this.currencies = currencyConverter.currencies;
        this.total = function total(outCurr) {
            return currencyConverter.convert(this.qty * this.cost, this.inCurr, outCurr);
        };
        this.pay = function pay() {
            window.alert("谢谢！");
        };
    }]);
    </script>
</body>

</html>